<html>

<head></head>

<body>

<h1>1</h1>

<p>Em seu sonho, você caminha pela Floresta de Affen, que lhe é familiar e desconhecida ao mesmo tempo. As árvores parecem mais vivas, mais do que o normal para seus sentidos treinados de Elfo das Florestas; os ruídos de galhos e arbustos parecem maiores. Uma força intensa paira sobre a superfície dos troncos, sustendada pela terra vibrante, e espalha-se até o mais alto galho. Mesmo enquanto sonha, você está consciente de que esta é uma visão da força da vida, que seu povo chama de Maella: ela dá vida a todas as coisas, e uma pequena amostra disso é o seu poder de sonha e usar a magia.</p>

<p>Você não reconhece essa parte espesífica da floresta. Talvez exista apenas em seu sonh, talvez não. A Floresta de Affen é extensa - mas é somente um pequeno vestígio da antiga Primeira Floresta, quando os três continentes de Titan foram unificados. Em seu sonho, os ramos descem das árvores e conduzem por uma trilha que se abre à sua frente.</p>

<p>Você está satisfeito por seguir a trilha, porém percebe também a pressa na atitude dos galhos. Aonde as árvores o estão levando? Assim que você formula a pergunta, vem a resposta: as árvores param de empurrá-lo e você percebe que está numa encruzilhada de três caminhos. Um é a trilha que você estava seguindo; os outros dois se estendem em diferentes direções, bifurcando-se como a língua de uma serpente.</p>

</body>

</html>